<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
  <!-- HEADER -->
    <a href="#content" class="skip-link">Menuju ke konten</a>
    <header class="app-bar">
      <div class="app-bar__menu">
        <button id="hamburgerButton">☰</button>
      </div>
      <div class="app-bar__brand">
        <h1>Guntur Resto</h1>
      </div>
      <nav id="navigationDrawer" class="app-bar__navigation">
        <ul>
          <li><a href="#/list-resto">Daftar Makanan</a></li>
          <li><a href="#/detail">Detail </a></li>
          <li><a href="#/favorite">Favorite</a></li>
        </ul>
      </nav>
    </header>
    <main id="mainContent"></main>
    <!-- Gambar Hero  -->
    <!-- <jumbotron>
      <img class="hero" src="./hero-image_2.jpg" alt="" />
    </jumbotron> -->

       <footer>
        <section class="penutup">
          <div>
            Tugas Dicoding Copyright © 2023 - Hunger Apps
          </div>
        </section>
      </footer>
</body>
</html>